.container {
    display: block;
}

h2{
    text-align: center;
}

.btn{
    margin-top: 1em;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}

label {
    padding: 5px;
    color: #208ba0;
    font-weight: bold;
}